@use './partials/_header';
@use './partials/_login';
@use './partials/_dashboard';
@use './partials/_sponsor';
@use './partials/_register';
@use './partials/_navsmartphone';
@use './partials/_navdesktop';
@use './partials/_apartmIndex';
@use './partials/_apartmShow';
@use './partials/_mediabook';
@use './partials/_inboxSingle';

@import './variables/_variables.scss';
@import '~bootstrap/scss/bootstrap';

// mediaquery
@media screen and (max-width: 800px) {
    .navdesktop{
      // background-color: $secondaryColor;
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .navphone{
      // background-color: $secondaryColor;
      display: none;
    }
  }
// end mediaquery

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white;
}

a{
    text-decoration: none;
}


// #admin-index{
//     nav{
//         height: 100px;
//         border-bottom: 3px solid grey;
//         h2{
//             color: gray;
//         }
//         ul{
//             margin: 0;
//             list-style: none;
//             min-width: 650px;
//             li{
//                 a{
//                     text-decoration: none;
//                     color: black;
//                     display: block;
//                     padding: 3px 8px;
//                     &.active{
//                         border-bottom: 2px solid grey;
//                         color: palevioletred
//                     }
//                 }
//             }
//         }
//     }
// }

// #admin-show{
//     padding: 0 0 80px 0;
//     .back-btn{
//         margin: 5px;
//     }
//     h1{
//         color: black;
//         text-align: center;
//         padding: 15px;
//         border-bottom: 1px solid black;
//     }
//     .infos{
//         color: black;
//         .info-row{
//             border-top: 1px solid black;
//             border-bottom: 1px solid black;
//             padding: 15px 0;
//             .info-col{
//                 width: 600px;
//                 span{
//                     &:first-of-type{
//                         font-weight: bolder;
//                     }
//                 }
//                 .tags{
//                     small{
//                         &:not(:last-of-type)::after{
//                             content: '/';
//                             margin: 0 10px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .image{
//         width: 40%;
//         height: 35vh;
//         margin: 0 auto;
//         img{
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }

#admin-many{
    ul{
        list-style: none;
        li{
            form{
                input{
                    width: 50%;
                }
            }
        }
    }
}

// #map{
//     height: 35vh;
//     width: 100vw;
//     border: 1px solid black;
// }

#navFixed{
    position: fixed;
    z-index: 500;
    bottom: 0;
    right: 0;
    min-width: 50px;
    margin: 0 20px 20px 0;
    font-size: 2rem;
    #navToggler{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        text-align: center;
        outline: 4px solid $raindrop;
        background-color: $emerald;
        line-height: 56px;
        margin-top: 10px;
        color: $white;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-top: 10px;
            transform: translate(0, 10px);
            opacity: 0;

            &:first-of-type{
                animation: navItemsFX .2s 0s forwards;
            }
            &:nth-of-type(2){
                animation: navItemsFX .2s .1s forwards;
            }
            &:nth-of-type(3){
                animation: navItemsFX .2s .2s forwards;
            }
            &:nth-of-type(4){
                animation: navItemsFX .2s .3s forwards;
            }
            a{
                display: block;
                text-align: center;
                height: 60px;
                width: 60px;
                font-size: 1.5rem;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                outline: 4px solid $sangria;
                background-color: $raindrop;
                text-decoration: none;
                color: $sangria;
            }
        }
    }
    @keyframes navItemsFX {
        100%{
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

// .fixbot{
//     position: fixed;
//     bottom: 15px;
//     right: 15px;
// }
.mediabook{
    width: 200px;
}

.allfoot {
    margin-top: 80px;
    padding: 30px 0px;
    background-color: $raindrop;

    .container {
        .creators {
            transition: ease-in-out all 300ms;

            &:hover {
                transform: scale(1.1);
            }

            .creator {
                margin-bottom: 10px;
            }

            a {
                transition: all 300ms;

                &:hover {
                    box-shadow: 0px 0px 20px $white;
                    color: $white;
                    text-shadow: 0px 0px 20px $white;
                    background-color: $sangria;
                }

                img {
                    height: 90px;
                    border-radius: 50%;
                }

                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45),
                inset 0px 2px 5px rgba(255, 255, 255, 0.25);
                padding: 10px;
                border-radius: 60px;
                margin: 0 auto;
                width: 270px;
                display: block;
                background-color: $rosegold;
                color: $sangria;
                text-transform: uppercase;
                font-size: 30px;
                font-family: $secondary_font;
            }
        }
    }
}
.top_messages{
            position: relative;
            cursor: pointer;

}
.bottom_messages{

            // display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;

}
.show {
    display: block;
}
.my_col{
    position: relative;
    min-width: 300px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.my_dflex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name_message{
    font-size: 20px;

}
.mail_message{
    font-size: 20px;

}
