@import '../variables/variables';

.mndv{
    margin: 80px 0px;
}
.cardb{
    padding: 80px 0px;
    border: 5px solid white;
    border-radius: 10px;
    h3{
        font-size: 2rem;
        font-family: $main-font;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .pric{
        display: flex;
        justify-content: center;
        i{
            margin-right: 10px;
            font-size: 1.5rem;
        }
        .nowp{
            font-size: 2rem;
            font-weight: 700;
        }
        .befp{
            font-size: 1rem;
            text-decoration: line-through;
        }
    }
    .butto{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px 0px;
        a{
            padding: 12px 30px;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 200ms;
            font-weight: 600;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    ul{
        li{
            margin-bottom: 10px;
            i{
                margin-right: 10px;
            }
        }
    }
}


.cardb1{
    background-color: $raindrop;
    color: $emerald;
}
.cardb2{
    background-color: $emerald;
    color: $raindrop;
}
.cardb3{
    background-color: $sangria;
    color: $rosegold;
}

